/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(black); 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Contenedor principal */
#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tarjeta de login */
.login-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Título */
.login-container h2 {
  color: #333;
  margin-bottom: 1rem;
}

/* Campos de entrada */
.login-container input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
}

.login-container input:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

/* Botón de login */
.login-container button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #4a90e2, #005bea);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.login-container button:hover {
  background: linear-gradient(135deg, #357ABD, #003b8b);
}

/* Enlace de registro */
.login-container a {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #4a90e2;
  font-weight: bold;
  transition: 0.3s;
}

.login-container a:hover {
  color: #357ABD;
}

/* navbar.css */
.navbar {
  width: 100%;
  background-color: #333;  /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px 0;  /* Espaciado */
  text-align: center;
  font-size: 20px;
  position: relative; /* Esto permite que se mueva con el contenido */
  top: 0; /* Asegura que se mantenga en la parte superior al principio */
  z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
}

.navbar a:hover {
  background-color: #555;
}


